@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'font-family: "Manrope", sans-serif';
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffd504;
  color: white;
}

.destaque {
  display: inline;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #044993;
  color: white;
}

.accordion-flush {
  width: 100%;
}
.accordion-flush .accordion-item {
  --bs-accordion-border-color: transparent;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.accordion-flush .accordion-item .accordion-header button {
  background-color: transparent;
  font-size: 19px;
  margin: 10px 0;
}
.accordion-flush .accordion-item .accordion-header button:focus {
  box-shadow: none;
}

main header {
  min-height: 100px;
  z-index: 1;
}
main header article section {
  height: 100px;
}
main header article section div {
  color: #044993;
}
main header article section div h1 {
  font-size: 2.3em;
}
main header article section .nav_tela_grande ul li {
  overflow: hidden;
}
main header article section .nav_tela_grande ul li a {
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  color: #e4e4e4;
}
main header article section .nav_tela_grande ul li a:hover {
  color: white;
  transform: scale(1.15);
  transition: all 1s;
}
main header article section .nav_tela_pequena div button span {
  font-size: 1.5em;
}
main header article section .nav_tela_pequena div ul {
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.556);
  border: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
main header article section .nav_tela_pequena div ul li a {
  padding-left: 20px;
  font-size: 1.4em;
  color: #e4e4e4;
}
main header article section .nav_tela_pequena div ul li a:hover, main header article section .nav_tela_pequena div ul li a:focus {
  text-decoration: underline;
}
main main article section {
  color: #333333;
}
main main article section .texto {
  background-color: rgba(0, 0, 0, 0.422);
  padding: 12px;
  border-radius: 30px;
  text-indent: 2em;
  color: white;
  text-align: justify;
  bottom: 0;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
main main article section .texto .estrelas {
  text-indent: 0;
  text-align: center;
}
main main article .container_img {
  max-width: 43%;
}
main main article .container_img img:hover {
  transition: all 0.4s ease-in-out;
  filter: brightness(120%);
}
main main article .container_img::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
main main .pag_02 {
  background-color: #FFFFFF;
  color: black;
}
main main .pag_02 .container_carousel .carousel button span {
  background-color: #044993;
  border-radius: 15px;
}
main main .pag_02 .container_carousel .carousel .carousel-indicators button {
  background-color: #044993;
}
main main .pag_02 .container_carousel .carousel .carousel-inner .carousel-item div img:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  filter: brightness(120%);
}
main main .pag_03, main main .pag_05 {
  background-color: #e4e4e4;
}
main main .pag_03 section .foto_accordion div img:hover, main main .pag_05 section .foto_accordion div img:hover {
  transform: scale(1.02);
  transition: all 0.4s ease-in-out;
  filter: brightness(120%);
}
main main .pag_03 div, main main .pag_05 div {
  color: black;
}
main main .pag_04 {
  background-color: #FFFFFF;
  color: black;
}
main main .pag_04 article .container_divs {
  position: relative;
}
main main .pag_04 article .container_divs .div1 {
  background-color: #e9ecf2;
  position: sticky;
  top: 3%;
}
main main .pag_04 article .container_divs .div1 div img {
  max-width: 65%;
  display: block;
  margin: auto;
}
main main .pag_04 article .container_divs .div1 div img:hover {
  transform: scale(1.02);
  transition: all 0.4s ease-in-out;
  filter: brightness(120%);
}
main main .pag_04 article .container_divs .div2 {
  background-color: #044993;
  color: white;
}
main main .pag_04 article .container_divs .div2 .destaque {
  background-color: white;
  color: black;
}
main main .pag_05 .accordion-flush .accordion-item {
  background-color: #e9ecf2;
  border-radius: 15px;
  border: none;
}
main main .pag_06 {
  background-color: #044993;
}
main main .pag_06 .destaque {
  background-color: white;
  color: black;
}
main main .pag_06 .container_formulario {
  background-color: #FFFFFF;
  color: black;
}
main main .pag_06 .contato {
  color: #e4e4e4;
}
main main .pag_06 .endereco a {
  text-decoration: none;
  color: #e9ecf2;
}
main main .pag_06 .endereco a:hover {
  color: #ffd504;
}

footer {
  color: #333333;
}
footer a {
  text-decoration: none;
  color: #333333;
}
footer a:hover {
  color: #e4e4e4;
}

@media screen and (max-width: 778px) {
  main main article .container_img {
    max-width: 90%;
  }
}
@media screen and (max-width: 778px) {
  body main main .pag_04 .container_divs .div1 {
    top: -50%;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/*# sourceMappingURL=main.css.map */
