@use "variaveis";
@use "construcao";

@mixin image(){
    &:hover{
        transform: scale(1.02);
        transition: all 0.4s ease-in-out;
        filter:brightness(120%);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variaveis.$fonte;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: variaveis.$amarelo;
    color: white;
}

.destaque{
    display: inline;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: variaveis.$azul;
    color: white;
}

.accordion-flush{
    width: 100%;
    .accordion-item{
            --bs-accordion-border-color: transparent;
            background-color: transparent;
            border-bottom: 1px solid black ;
        .accordion-header{
            button{
                background-color: transparent;
                font-size: 19px;
                margin: 10px 0;
                &:focus{
                    box-shadow: none;
                }
            }
        }
    }
}

main{
    .login{
        z-index: 2;
        transition: all 0.7s;
        &:hover{
            transform: scale(1.2);
        }
        a{
            cursor: pointer;
            i{
                border: 2px solid white;
                border-radius: 50%;
                padding: 5px;
                color: white;
                transition: all 1s;
                &:hover{
                    background-color: variaveis.$azul;
                }
            }
        }
    }
    header{
        min-height: 100px;
        z-index: 1;
        article{
            section{
                height: 100px;
                div{
                    color: variaveis.$azul;
                    h1{
                        font-size: 2.3em;
                    }
                }
                .nav_tela_grande{
                    ul{
                        li{
                            overflow: hidden;
                            a{
                                padding: 5px;
                                text-decoration: none;
                                display:inline-block;
                                color: variaveis.$cinza;
                                &:hover{
                                    color: white;
                                    transform: scale(1.15);
                                    transition: all 1s;
                                }
                            }
                        }
                    }
                }
                .nav_tela_pequena{
                    div{
                        button{
                            span{
                                font-size: 1.5em;
                            }
                        }
                        ul{
                            min-width: 300px;
                            background-color:rgba(0, 0, 0, 0.556);
                            border: none;
                            backdrop-filter: blur(6px);
                            -webkit-backdrop-filter: blur(6px);
                            li{
                                a{
                                    padding-left: 20px;
                                    font-size: 1.4em;
                                    color: variaveis.$cinza;
                                    &:hover, &:focus{
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        article{
            section{
                color: #333333;
                .texto{
                    background-color: rgba(0, 0, 0, 0.422);
                    padding: 12px;
                    border-radius: 30px;
                    text-indent: 2em;
                    color: white;
                    text-align: justify;
                    bottom: 0;
                    backdrop-filter: blur(6px);
                    -webkit-backdrop-filter: blur(6px);
                    .estrelas{
                        text-indent: 0;
                        text-align: center;
                    }
                }
            }
            .container_img{
                max-width: 43%;
                img{
                    &:hover{
                        transition: all 0.4s ease-in-out;
                        filter:brightness(120%);
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    border-radius: 30px;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 15%;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
                }
            }
        }
        .pag_02{
            background-color: variaveis.$branco;
            color: black;
            .container_carousel{
                .carousel{
                    button{
                        span{
                            background-color:variaveis.$azul;
                            border-radius: 15px;
                        }
                    }
                    .carousel-indicators{
                        button{
                            background-color: variaveis.$azul;
                        }
                    }
                    .carousel-inner{
                        .carousel-item{
                            div{
                                img{
                                    &:hover{
                                        transform: scale(1.1);
                                        transition: all 0.4s ease-in-out;
                                        filter:brightness(120%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .pag_03, .pag_05{
            background-color: variaveis.$cinza;
            section{
                .foto_accordion{
                    div{
                        img{
                            @include image;
                        }
                    }
                }
            }
            div{
                color: black;
            }
        }
        .pag_04{
            background-color: variaveis.$branco;
            color: black;
            article{
                .container_divs{
                    position: relative;
                    .div1{
                        background-color: variaveis.$cinza_div;
                        position: sticky;
                        top: 3%;
                        div{
                            img{
                                @include image;
                                max-width: 65%;
                                display: block;
                                margin: auto;
                            }
                        }
                    }
                    .div2{
                        background-color: variaveis.$azul;
                        color: white;
                        .destaque{
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }
        }
        .pag_05{
            .accordion-flush{
                .accordion-item{
                    background-color: variaveis.$cinza_div;
                    border-radius: 15px;
                    border: none;
                }
            }
        }
        .pag_06{
            background-color: variaveis.$azul;
            .destaque{
                background-color: white;
                color: black;
            }
            .container_formulario{
                background-color: variaveis.$branco;
                color: black;
            }
            .contato{
                color: variaveis.$cinza;
            }
            .endereco{
                a{
                    text-decoration: none;
                    color:variaveis.$cinza_div;
                    &:hover{
                        color: variaveis.$amarelo;
                    }
                }
            }
        }
    }
}
footer{
    color: #333333;
    a{
        text-decoration: none;
        color: #333333;
        &:hover{
            color: variaveis.$cinza;
        }
    }
}

@media screen and (max-width: 778px) {
    main{
        main{
            article{
                .container_img{
                    max-width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 778px) {
    body{
        main{
            main{
                .pag_04{
                    .container_divs{
                        .div1{
                            top: -50%;
                        }
                    }
                }
            }
        }
    }
}