@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$amarelo: #ffd504;
$azul: #044993;
$branco: #FFFFFF;
$cinza: #e4e4e4;
$cinza_div: #e9ecf2;
$cor_font:#333333;
$fonte: 'font-family: "Manrope", sans-serif';